@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Odibee+Sans&display=swap');

.blaze {
  font-family: 'Odibee Sans', cursive;
  color: #FD8369;
}

.blazeNumber {
  font-weight: bold;
  color: #FD8369;
}

* {
  font-family: 'Archivo', sans-serif;
}


a {
  font-weight: 500;
  color: #898989 !important;
  font-size: 16px;
}

.neu {
  font-family: 'Odibee Sans', cursive;
  margin-left: -0.15em;
}

.hands {
  margin-left: .2em;
}

.home-logo {
  font-family: 'Odibee Sans', cursive;
  font-size: 48px !important;
  color: black !important;
  margin-left: 75px;
}

.btn-primary {
  background-color: #FD8369 !important;
  border-color:  #FD8369 !important;
}

.btn-primary-outline {
  background-color: #FFF !important;
  border-color:  #FD8369 !important;
  color: #FD8369 !important;
  margin-top: 10px !important;
}

.btn-primary-outline:hover {
  background-color: #FD8369 !important;
  border-color:  #FD8369 !important;
  color: white !important;
  margin-top: 10px !important;
}

.btn-secondary {
  background-color: #5878FF !important;
  border-color:  #5878FF !important;
 
}

.btn-info {
  background-color: #5878FF !important;
  border-color:  #5878FF !important;
  font-family: 'Archivo', sans-serif;
  font-weight: 500 !important;
  padding: 10px !important;
  margin-top: 15px !important;
}

.btn-link:hover  {
  text-decoration: none !important;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none !important;
  box-shadow:none !important;
}


.modal-content {
  margin-top: 100px;
  padding: 20px;
}

.modal-btns {
  margin-top: 30px !important;
  margin-left: 250px !important;
}


body {
  padding-top: 88px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.show-btn a{
  color: white;
}

.show-btn a:hover{
  color: white;
}

.btn a {
  color: white;
}

.btn a:hover {
  color: white;
}

.btn-secondary {
  margin-left: 5px;
}


.btn-primary {
  margin-left: 5px;
}

label {
  margin-left: 5px !important;
}

button, input {
  margin-right: 5px !important;
}

.card {
  margin: 5px;
}

h1 {
text-align: center;
margin-top: 50px !important;
margin-bottom: 50px !important;
}

h2 {
  margin-bottom: 25px !important;
  margin-top: 25px !important;
}

h6 {
  margin-bottom: 20px !important;
}


h4 {
  margin-top: 50px !important;
  text-align: center;
  font-weight: 400 !important;
}

h3 {
  text-align: center;
  color: red; 
}

.company-details {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 50px;
  border: 1px solid #C2C2C2;
  box-shadow:(0px 0px 4px rgba(0, 0, 0, 0.15));
  border-radius: 7px;
}

.company-info-wrapper {
  margin-bottom: 15px;
}

.nav {
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 9999;
}

.log-in {
  margin-left: 700px;
  display: flex;
  align-self: center;
}

.sign-up {
  display: flex;
  margin-right: 150px;
  align-self: center;

}

.logged-in {
  display:flex;
  align-items:center;
  margin-right: 75px;
}

p, .welcome-txt {
  margin-right: .3em;
  margin-bottom: 0;
}

.admin-txt {
  margin-right: .3em;
  margin-left: .3em;
  margin-bottom: 0;
  color: #69FD83;
}

.logout-btn {
  font-weight: 500 !important;
  color: #df4759 !important;
  font-size: 16px;
}

.splash {
  display:flex;
 justify-content: space-evenly;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 1vw;
  background-color: #F6F3F0;
  margin-bottom: 25px;
  padding-bottom: 75px;
}

.text-content {
  align-items: flex-start;
  text-align: left;
  margin-top: 60px;
}

.splash-title {
text-align: left;
font-weight: 700;
font-size: 48px;
margin-bottom: 25px !important;
line-height: 52px;
letter-spacing: 2px;

}

.splash-text {
  margin-top: 0;
  font-size: 24px;
}

body {
    background-color: #E7E9F5;
    font-family: 'Heebo', sans-serif
}

.card {
    width: 500px;
    border: none;
    border-radius: 20px
}

.form-control {
  display: flex !important;
    border-radius: 7px !important;
    border: 1.5px solid #E3E6ED;
    letter-spacing: 1px !important;
    margin-bottom: 20px;
    width: 25vw !important;
    align-items: center;
    margin-top: 10px !important;
}

input.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #E3E6ED;
    background-color: #F7F8FD;
    letter-spacing: 1px
}

.btn-dark {
    background-color: #FD8369 !important;
    border-radius: 7px;
    border-color: #FD8369 !important;
    height: calc(1.5em + 0.75rem + 2px);
    margin-left: 0 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: -2em !important;
    margin-top: 10px !important;
}

.btn-dark:focus {
    box-shadow: none !important;
}


.flex-row {
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    margin: 0 1px 0
}

.flex-column p {
    font-size: 14px;
}

span.mb-2 {
    font-size: 12px;
    color: #8896BD;
}

h5 span {
    color: #869099
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

.create-company {
  margin-top: 30px;
  margin-bottom: 50px;
}

.create-company-text {
  font-weight: 500;
  color: #898989 !important;
  font-size: 16px;
  margin-bottom: 5px !important;
  margin-top: 15px !important;
}

.switch-button-text {
  margin-top: 40px !important;
  margin-bottom: 15px !important;
}

.search-bar {
  margin-top: 50px;
  margin-bottom: 30px;
}

.pac-target-input {
  margin-top: 10px !important; 
}

p, .company-info {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.booleanFalse {
  color: green;
}

.booleanTrue {
  color: red;

}

.edit-user {
  margin-left: 15px;
  font-size: 16px;
  margin-top: 15px;
}

.align-user-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.push-left {
  margin-left: 20px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.black-txt {
  color: black;
}